


/*  This is for styling the main container that holds everything */

#container {
    height: 100vh;
    width: 100%;
    position: relative;
    background: #f7f7f7;
}


#navbar ul:hover .active {
    background: none;
    border: none;
}


#content h2 {
    font-size: 140px;
    color: grey;
}


#aSide model-viewer {
    height: 600px;
    width: 600px;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}
